<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button v-on:click="mark = '+'">+</button>
        <button v-on:click="mark = '-'">-</button>
        <button v-on:click="mark = '*'">*</button>
        <button v-on:click="mark = '/'">/</button><br>
        <template v-if="mark == '+'">
            <div>
                <h1>การบวก</h1>
            </div>
        </template>
        <template v-else-if="mark == '-'">
            <div>
                <h1>การลบ</h1>
            </div>
        </template>
        <template v-else-if="mark == '*'">
            <div>
                <h1>การคูณ</h1>
            </div>
        </template>
        <template v-else-if="mark == '/'">
            <div>
                <h1>การหาร</h1>
            </div>
        </template>
        <br>
        
        <input type="number" v-model="number1">
        <span>{{ mark }}</span>
        <input type="number" v-model="number2">
        =
        <span v-if="mark == '+'">{{ plus }}</span>
        <span v-else-if="mark == '-'">{{minus}}</span>
        <span v-else-if="mark == '*'">{{multi}}</span>
        <span v-else-if="mark == '/'">{{divide}}</span>
    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                mark:'',
                number1:0,
                number2:0,
                result:0
            },
            computed: {
                plus:function() {
                   return parseInt(this.number1)+parseInt(this.number2)
                },
                minus:function() {
                   return parseInt(this.number1)-parseInt(this.number2)
                },
                multi:function() {
                   return parseInt(this.number1)*parseInt(this.number2)
                },
                divide:function() {
                   return parseInt(this.number1)/parseInt(this.number2)
                },
                
            }
        })
    </script>
</body>
</html>